.tagline{

    a{
        font-weight:bold;
        text-decoration:none;
        color:inherit;
    }
}

h2.tagline {
    width: 70%;
    margin-bottom: 0.25em;

}

h3.tagline{
    font-size: 2em;
    width: 70%;
    text-align: left;
    margin-bottom: 0.5em;

}

.things {
    width: 100%;
    display: block;

    .slick-list{
        overflow:visible!important;
    }
}

.thing {
    // min-height: 25vh;
    width: 100%;
    padding: 1em;
    height: auto!important;
    img {
        box-shadow: 0 2px 5px -1px transparentize(#000, 0.4);
        width: 100%;
        height: auto;
    }

    svg {
        height: auto;
        box-shadow: 0 2px 5px -1px transparentize(#000, 0.4);
        border-radius: 10px;
        transition: all 300ms;
        width: 100%;
        &:hover {
            transform: scale(1.05);
        }
    }

    &.soon {
        &:after {
            content: "Coming Soon";
            width: 100%;
            text-align: center;
            line-height: 2em;
            font-size: 0.9rem;
            color: #aaa;
            display: block;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
}


#favoriteFont {

    h1,h2,h3{margin:0;}

    h1 {
        font-size: 12em;
        font-weight: 900;
    }

    h2{
        font-family: "Permanent Marker";
        font-size:4em;

    }

    h3{
        font-size:2em;
        font-style: italic;
        font-family: "Permanent Marker"
    }

    @include breakpoint(mobileonly) {
        text-align:center;
        h1{ font-size: 5em;}
        h2{ font-size: 1em;}
        h3{ font-size: 1em;}
    }
}